Repository dragonflyoss/Dragonfly, pull requests merged in 2020-03, with the labels that each got.

#1234 bugfix: fix untested case due to prefix missing
  pkg/errortypes/supernode_errors_test.go
Labels: LGTM, areas/test, kind/bug, size/XS

#1223 pkg/fileutils: add verifications and unit test for SymboliLlink
  pkg/fileutils/fileutils.go
  pkg/fileutils/fileutils_test.go
Labels: areas/test, size/M

#1221 add unit test for NodeWightSlice2StringSlice
  cmd/dfget/app/root.go
  cmd/dfget/app/root_test.go
  dfget/config/config.go
  dfget/config/config_test.go
  dfget/config/supernode_value.go
  dfget/config/supernode_value_test.go
Labels: LGTM, areas/test, size/L

#1232 Fix an issue where HTTPS is not supported
  dfdaemon/server.go
Labels: areas/security, kind/bug, size/XS

#1241 test: add unit test case for func WithMaxSizeMB
  pkg/dflog/log_test.go
Labels: areas/test, size/S

#1249 cConn should close immediately
  dfdaemon/proxy/proxy.go
Labels: size/XS

#1235 Feature: support custom protocol
  dfget/config/config.go
  dfget/config/config_test.go
  pkg/httputils/http_util.go
  pkg/httputils/http_util_test.go
  pkg/netutils/netutils.go
  pkg/netutils/netutils_test.go
  supernode/httpclient/origin_http_client.go
  supernode/httpclient/origin_http_client_test.go
Labels: kind/feature, size/XL

#1252 feature: add dfdaemon sub command 'gen-ca' for CA generation
  cmd/dfdaemon/app/cert.go
  cmd/dfdaemon/app/root.go
  pkg/certutils/cert_util.go
  pkg/certutils/cert_util_test.go
Labels: areas/cli, kind/feature, size/XL

#1253 bugfix: check err returned by peerMgr.Get to prevent nil pointer refe…
  supernode/daemon/mgr/task/manager_util.go
Labels: LGTM, kind/bug, size/S

#1213 feature: support source cdn pattern
  apis/swagger.yml
  apis/types/cdn_source.go
  apis/types/task_create_response.go
  cmd/supernode/app/root.go
  cmd/supernode/main.go
  dfget/config/constants.go
  dfget/core/api/download_api.go
  dfget/core/downloader/p2p_downloader/client_stream_writer.go
  dfget/core/downloader/p2p_downloader/client_stream_writer_test.go
  dfget/core/downloader/p2p_downloader/client_writer.go
  dfget/core/downloader/p2p_downloader/client_writer_test.go
  dfget/core/downloader/p2p_downloader/p2p_downloader.go
  dfget/core/downloader/p2p_downloader/p2p_downloader_test.go
  dfget/core/downloader/p2p_downloader/piece.go
  dfget/core/downloader/p2p_downloader/piece_test.go
  dfget/core/downloader/p2p_downloader/power_client.go
  dfget/core/downloader/p2p_downloader/target_writer.go
  dfget/core/regist/register.go
  dfget/core/regist/register_test.go
  dfget/core/uploader/peer_server.go
  dfget/types/register_response.go
  go.mod
  go.sum
  supernode/config/config.go
  supernode/daemon/mgr/cdn/downloader_test.go
  supernode/daemon/mgr/cdn/manager.go
  supernode/daemon/mgr/cdn_mgr.go
  supernode/daemon/mgr/mock/mock_cdn_mgr.go
  supernode/daemon/mgr/sourcecdn/manager.go
  supernode/daemon/mgr/task/manager.go
  supernode/daemon/mgr/task/manager_util.go
  supernode/server/0.3_bridge.go
  supernode/server/router_test.go
  supernode/server/server.go
  supernode/util/range_util.go
Labels: kind/feature, size/XL

#1257 test: add unit test case for func ConstructRangeStr
  pkg/httputils/http_util_test.go
Labels: areas/test, size/XS

#1260 test: add unit test case for core.go
  dfget/core/core_test.go
Labels: areas/test, size/S

#1258 add unit test for client/httputils.go
  client/httpuils_test.go
Labels: areas/test, size/M

#1262 test: add unit test case for func ReportMetrics
  dfget/core/api/supernode_api_test.go
Labels: areas/test, size/S
