Repository dragonflyoss/Dragonfly, pull requests merged in 2020-02, with the labels that each got.

#1181 feature: Hijack HTTPS by generating leaf TLS certs on the fly issued by user provided CA.
  dfdaemon/proxy/cert.go
  dfdaemon/proxy/proxy.go
  go.mod
  go.sum
Labels: kind/feature, size/L

#1212 Fix markdown syntax in documentation
  docs/user_guide/multi_machines_deployment.md
Labels: areas/docs, size/XS

#1186 feature: add client stream writer for Streaming
  dfget/config/config.go
  dfget/core/downloader/back_downloader/back_downloader.go
  dfget/core/downloader/back_downloader/back_downloader_test.go
  dfget/core/downloader/downloader.go
  dfget/core/downloader/downloader_test.go
  dfget/core/downloader/p2p_downloader/client_stream_writer.go
  dfget/core/downloader/p2p_downloader/client_stream_writer_test.go
  dfget/core/downloader/p2p_downloader/client_writer.go
  dfget/core/downloader/p2p_downloader/p2p_downloader.go
Labels: kind/feature, size/XL

#1214 pkg/constants: improve GetMsgByCode test
  pkg/constants/dfget_super_code_test.go
Labels: LGTM, areas/test, size/XS

#1216 pkg/syncmap: add unit test for GetAsAtomicInt
  pkg/syncmap/syncmap_test.go
Labels: areas/test, size/S

#1219 pkg/fileutils: add unit test for IsRegularFile
  pkg/fileutils/fileutils_test.go
Labels: areas/test, size/S

#1194 test: add unit test case for func GetAllPeerIDs
  supernode/daemon/mgr/peer/manager_test.go
Labels: LGTM, areas/test, size/S

#1225 Construct errors following conventions
  pkg/fileutils/fileutils.go
Labels: kind/bug, size/M

#1215 docs: remove gitter from realtime chatting tools
  README.md
Labels: LGTM, areas/docs, size/XS

#1220 docs: add data integrity theory of distributing files and blocks
  docs/design/data_integrity.md
Labels: areas/docs, size/M
