Repository dragonflyoss/Dragonfly, pull requests merged in 2020-01, with the labels that each got.

#1155 fix typo: 'the the' -> 'the'
  dfget/config/supernode_value.go
Labels: areas/typo, size/XS

#1159 Refactor: make version subcommand as a public subcommand
  cmd/dfdaemon/app/root.go
  cmd/dfdaemon/app/version.go
  cmd/dfget/app/root.go
  cmd/dfget/app/version.go
  cmd/supernode/app/root.go
  pkg/cmd/version.go
Labels: areas/cli, kind/refactor, size/L

#1160 test: add unit test case for func ParsePieceIndex
  supernode/util/range_util_test.go
Labels: areas/test, size/M

#1163 fix typo: fix comment for func ParseNodesString
  dfget/config/supernode_value.go
Labels: areas/typo, size/XS

#1167 test: add unit test case for func Remove
  pkg/syncmap/syncmap_test.go
Labels: areas/test, size/S

#1165 fix typo: fix comment for func Print
  pkg/printer/printer.go
Labels: areas/typo, size/XS

#1166 fix: use StringArrayVar to parse http header
  cmd/dfget/app/root.go
  cmd/dfget/app/root_test.go
Labels: kind/bug, size/S

#1170 test: add unit test case for func GetAsInt
  pkg/syncmap/syncmap_test.go
Labels: areas/test, size/XS

#1173 test: add test case in unit test TestParseFilter
  supernode/daemon/util/filter_test.go
Labels: areas/test, size/XS

#1172 test: add unit test case for func GetAsString
  pkg/syncmap/syncmap_test.go
Labels: areas/test, size/XS

#1156 docs: add more detail steps in workspace preparation
  CONTRIBUTING.md
Labels: areas/docs, size/M

#1174 Securing many http links to https links
  CODE_OF_CONDUCT.md
Labels: size/XS

#1028 docs: add a doc about using dragonfly with harbor registry
  docs/ecosystem/Harbor-with-Dragonfly.md
Labels: LGTM, areas/docs, size/XL

#1120 docs: update docs about deploy with Physical Machines
  docs/user_guide/download_files.md
  docs/user_guide/install_client.md
  docs/user_guide/install_server.md
Labels: areas/docs, size/XL

#1024 docs: optimize the config documents
  docs/config/dfdaemon_properties.md
  docs/config/dfget_config_template.yml
  docs/config/dfget_properties.md
  docs/config/supernode_config_template.yml
  docs/config/supernode_properties.md
Labels: areas/docs, size/M

#1176 test: add unit test case for func GetAsBool
  pkg/syncmap/syncmap_test.go
Labels: areas/test, size/XS

#1179 add unit test for GetMsgByCode
  pkg/constants/dfget_super_code_test.go
Labels: areas/test, size/S

#1178 test: add util test for atomiccount
  pkg/atomiccount/atomiccount_test.go
Labels: areas/test, size/M

#1180 feat: generate task per http range
  supernode/daemon/mgr/cdn/downloader.go
  supernode/daemon/mgr/cdn/downloader_test.go
  supernode/daemon/mgr/task/manager_util.go
  supernode/daemon/mgr/task/manager_util_test.go
  supernode/httpclient/mock/mock_origin_http_client.go
  supernode/httpclient/origin_http_client.go
Labels: size/L

#1145 Configure dfclient/dfdaemon/dfget log file path via 'logConfig.path' property
  cmd/dfdaemon/app/init.go
  cmd/dfget/app/root.go
  cmd/dfget/app/server.go
  docs/config/dfdaemon_config_template.yml
  docs/config/dfdaemon_properties.md
  pkg/dflog/log.go
Labels: areas/log, size/S

#1184 test: add unit test case for func GetAsMap
  pkg/syncmap/syncmap_test.go
Labels: areas/test, size/S

#1185 bugfix: retry multi times if failed to report pieces
  dfget/core/api/supernode_api.go
  dfget/core/api/supernode_api_test.go
  dfget/core/downloader/p2p_downloader/client_writer.go
Labels: kind/bug, size/S

#1187 test: add unit test case for func GetAsBitset
  pkg/syncmap/syncmap_test.go
Labels: areas/test, size/XS

#1189 test: add unit test case for func GetAsInt64
  pkg/syncmap/syncmap_test.go
Labels: areas/test, size/XS

#1192 Add digest util test
  pkg/digest/digest_test.go
Labels: areas/test, size/M

#1193 test: add unit test case for func GetAsTime
  pkg/syncmap/syncmap_test.go
Labels: areas/test, size/XS

#1202 docs: trivial fix some typos
  docs/ecosystem/Harbor-with-Dragonfly.md
Labels: areas/docs, areas/typo, size/XS
