Repository dragonflyoss/dragonfly, pull requests merged in 2022-04, with the labels that each got.

#1218 feat: change manager validate with config
  manager/types/cdn_cluster.go
  manager/types/scheduler_cluster.go
Labels: kind/feature, manager

#1224 feat: scheduler blocks steal peers
  pkg/container/set/safe_set.go
  pkg/container/set/safe_set_test.go
  pkg/container/set/set.go
  pkg/container/set/set_test.go
  scheduler/resource/peer.go
  scheduler/scheduler/scheduler.go
  scheduler/scheduler/scheduler_test.go
Labels: kind/feature, scheduler

#1226 fix: calculate FreeUploadLoad
  scheduler/resource/host.go
  scheduler/resource/host_manager.go
  scheduler/resource/host_manager_test.go
  scheduler/resource/host_test.go
  scheduler/resource/peer.go
  scheduler/scheduler/evaluator/evaluator_base_test.go
  scheduler/scheduler/scheduler.go
Labels: kind/bug, scheduler

#1228 fix: make generate
  client/daemon/peer/peertask_manager_test.go
  client/daemon/test/mock/daemongrpc/daemon_server_grpc.go
Labels: kind/feature

#1235 feat: update docker compose version
  deploy/docker-compose/docker-compose.yaml
Labels: kind/feature

#1234 Add csv storage to scheduler
  go.mod
  go.sum
  scheduler/config/config.go
  scheduler/config/config_test.go
  scheduler/config/testdata/scheduler.yaml
  scheduler/rpcserver/rpcserver_test.go
  scheduler/scheduler.go
  scheduler/service/service.go
  scheduler/service/service_test.go
  scheduler/storage/mocks/storage_mock.go
  scheduler/storage/storage.go
  scheduler/storage/storage_test.go
Labels: kind/feature, scheduler

#1250 feat: registerTask returns to the task in time
  scheduler/service/service.go
  scheduler/service/service_test.go
Labels: kind/feature, scheduler

#1254 Add AnnounceTask and StatTask tests
  scheduler/rpcserver/rpcserver.go
  scheduler/service/service.go
  scheduler/service/service_test.go
Labels: kind/feature, scheduler

#1255 fix: error message
  scheduler/job/job.go
  scheduler/resource/host.go
  scheduler/resource/peer_manager.go
  scheduler/resource/task.go
  scheduler/scheduler.go
  scheduler/scheduler/scheduler.go
  scheduler/service/service.go
Labels: kind/feature, scheduler

#1256 feat: add AnnounceTask and StatTask metrics
  scheduler/metrics/metrics.go
  scheduler/rpcserver/rpcserver.go
  scheduler/service/service.go
Labels: kind/feature, scheduler

#1257 test: scheduler storage
  scheduler/storage/storage_test.go
Labels: kind/feature, scheduler

#1262 chore: add schedule cron with e2e testing
  .github/workflows/ci.yml
  .github/workflows/compatibility-e2e.yml
  .github/workflows/e2e.yml
Labels: kind/feature

#1237 [feat] preheat supports authentication and rich format range
  .golangci.yml
  go.mod
  go.sum
  manager/job/preheat.go
  manager/job/preheat_test.go
  manager/service/preheat.go
  manager/types/job.go
  manager/types/preheat.go
  test/e2e/manager/preheat.go
Labels: kind/feature, manager

#1265 feat: move dfnet to pkg dir
  client/config/flags.go
  client/config/peerhost.go
  client/config/peerhost_darwin.go
  client/config/peerhost_linux.go
  client/config/peerhost_test.go
  client/daemon/daemon.go
  client/daemon/daemon_test.go
  client/daemon/peer/peertask_dummy.go
  client/daemon/peer/peertask_manager_test.go
  client/daemon/peer/peertask_stream_backsource_partial_test.go
  client/daemon/rpcserver/rpcserver_test.go
  client/daemon/test/mock/scheduler/scheduler_client.go
  cmd/dependency/dependency.go
  cmd/dfcache/cmd/root.go
  cmd/dfget/cmd/daemon.go
  cmd/dfget/cmd/root.go
  pkg/dfnet/dfnet.go
  pkg/rpc/cdnsystem/client/client.go
  pkg/rpc/client.go
  pkg/rpc/dfdaemon/cdnsystem/mocks/client_mock.go
  pkg/rpc/dfdaemon/client/client.go
  pkg/rpc/dfdaemon/client/mocks/client_mock.go
  pkg/rpc/dfdaemon/client/peer.go
  pkg/rpc/manager/client/client.go
  pkg/rpc/scheduler/client/client.go
  pkg/rpc/scheduler/client/mocks/client_mock.go
  pkg/rpc/server_listen.go
  scheduler/resource/cdn.go
  scheduler/resource/cdn_mock.go
  scheduler/resource/cdn_test.go
Labels: kind/feature

#1266 fix: prevent traversal tree from infinite loop
  scheduler/resource/peer.go
Labels: kind/bug

#1267 Fix scheduler peer state
  scheduler/resource/peer.go
  scheduler/scheduler/evaluator/evaluator_base.go
  scheduler/scheduler/evaluator/evaluator_base_test.go
Labels: kind/feature, scheduler

#1270 test: fix storage backups
  scheduler/storage/storage_test.go
Labels: kind/feature, scheduler

#1271 fix: tree infinite loop
  scheduler/resource/peer.go
  scheduler/resource/peer_test.go
  scheduler/scheduler/scheduler.go
  scheduler/scheduler/scheduler_test.go
  scheduler/service/service.go
  scheduler/service/service_test.go
Labels: kind/feature, scheduler

#1274 fix: scheduler config validation
  scheduler/config/config.go
Labels: kind/bug, scheduler

#1277 fix: filter parent condition
  scheduler/resource/peer.go
  scheduler/scheduler/scheduler.go
  scheduler/scheduler/scheduler_test.go
Labels: kind/feature, scheduler

#1279 feat: when peer state is PeerStateSucceeded, it can be a parent
  scheduler/scheduler/scheduler.go
  scheduler/scheduler/scheduler_test.go
Labels: kind/feature, scheduler

#1283 fix: legacy cdn peer
  scheduler/service/service.go
  scheduler/service/service_test.go
Labels: kind/feature

#1282 fix: docker compose run.sh
  deploy/docker-compose/README.md
  deploy/docker-compose/run.sh
Labels: kind/bug

#1288 feat: scheduler peer result validation
  pkg/rpc/scheduler/scheduler.pb.go
  pkg/rpc/scheduler/scheduler.pb.validate.go
  pkg/rpc/scheduler/scheduler.proto
Labels: kind/feature, scheduler

#1289 fix: grpc total_piece_count comment
  pkg/rpc/scheduler/scheduler.pb.go
  pkg/rpc/scheduler/scheduler.proto
Labels: kind/feature, scheduler
