Repository dragonflyoss/dragonfly, pull requests merged in 2022-05, with the labels that each got.

#1293 feat: manager add seed peer
  .golangci.yml
  api/manager/docs.go
  api/manager/swagger.json
  api/manager/swagger.yaml
  client/config/mocks/manager_client_mock.go
  manager/cache/cache.go
  manager/handlers/application.go
  manager/handlers/preheat.go
  manager/handlers/security_group.go
  manager/handlers/seed_peer.go
  manager/handlers/seed_peer_cluster.go
  manager/handlers/user.go
  manager/model/application.go
  manager/model/job.go
  manager/model/scheduler.go
  manager/model/scheduler_cluster.go
  manager/model/security_group.go
  manager/model/seed_peer.go
  manager/model/seed_peer_cluster.go
  manager/router/router.go
  manager/rpcserver/rpcserver.go
  manager/service/application.go
  manager/service/job.go
  manager/service/scheduler.go
  manager/service/scheduler_cluster.go
  manager/service/security_group.go
  manager/service/seed_peer.go
  manager/service/seed_peer_cluster.go
  manager/service/service.go
  manager/types/application.go
  manager/types/cdn.go
  manager/types/job.go
  manager/types/scheduler.go
  manager/types/scheduler_cluster.go
  manager/types/security_group.go
  manager/types/seed_peer.go
  manager/types/seed_peer_cluster.go
  pkg/rpc/manager/client/client.go
  pkg/rpc/manager/client/mocks/client_mock.go
  pkg/rpc/manager/manager.pb.go
  pkg/rpc/manager/manager.pb.validate.go
  pkg/rpc/manager/manager.proto
  pkg/rpc/manager/mocks/manager_mock.go
  scheduler/rpcserver/rpcserver.go
Labels: kind/feature, manager

#1294 feat: update scheduler PeerResult validation
  pkg/rpc/scheduler/scheduler.pb.go
  pkg/rpc/scheduler/scheduler.pb.validate.go
  pkg/rpc/scheduler/scheduler.proto
Labels: kind/feature, scheduler

#1297 fix: scheduler typo
  scheduler/config/config.go
  scheduler/config/constants.go
  scheduler/config/dynconfig.go
  scheduler/job/job.go
  scheduler/metrics/metrics.go
  scheduler/resource/cdn.go
  scheduler/resource/host.go
  scheduler/resource/host_manager.go
  scheduler/resource/peer.go
  scheduler/resource/peer_manager.go
  scheduler/resource/resource.go
  scheduler/resource/task.go
  scheduler/resource/task_manager.go
  scheduler/rpcserver/rpcserver.go
  scheduler/scheduler.go
  scheduler/scheduler/evaluator/evaluator.go
  scheduler/scheduler/evaluator/evaluator_base.go
  scheduler/scheduler/scheduler.go
  scheduler/service/service.go
  scheduler/storage/storage.go
Labels: kind/feature, scheduler

#1298 feat: scheduler add seed peer
  pkg/idgen/host_id.go
  pkg/idgen/host_id_test.go
  pkg/idgen/peer_id.go
  pkg/idgen/peer_id_test.go
  scheduler/config/config.go
  scheduler/config/config_test.go
  scheduler/config/dynconfig.go
  scheduler/config/dynconfig_test.go
  scheduler/config/mocks/dynconfig_mock.go
  scheduler/config/testdata/dynconfig/cdn/cdn_1.json
  scheduler/config/testdata/dynconfig/cdn/cdn_2.json
  scheduler/config/testdata/dynconfig/scheduler.yaml
  scheduler/config/testdata/scheduler.yaml
  scheduler/job/job.go
  scheduler/resource/cdn.go
  scheduler/resource/cdn_mock.go
  scheduler/resource/host.go
  scheduler/resource/host_manager.go
  scheduler/resource/host_manager_test.go
  scheduler/resource/host_test.go
  scheduler/resource/peer.go
  scheduler/resource/peer_test.go
  scheduler/resource/resource.go
  scheduler/resource/resource_mock.go
  scheduler/resource/resource_test.go
  scheduler/resource/seed_peer.go
  scheduler/resource/seed_peer_client.go
  scheduler/resource/seed_peer_client_mock.go
  scheduler/resource/seed_peer_client_test.go
  scheduler/resource/seed_peer_mock.go
  scheduler/resource/seed_peer_test.go
  scheduler/resource/task.go
  scheduler/resource/task_test.go
  scheduler/rpcserver/rpcserver.go
  scheduler/scheduler/evaluator/evaluator_base.go
  scheduler/scheduler/evaluator/evaluator_base_test.go
  scheduler/scheduler/scheduler.go
  scheduler/scheduler/scheduler_test.go
  scheduler/service/service.go
  scheduler/service/service_test.go
  scheduler/storage/storage.go
Labels: kind/feature, scheduler

#1312 feat: reduce dynconfig logs
  client/daemon/daemon.go
  scheduler/resource/seed_peer_client.go
Labels: kind/feature, scheduler, dfdaemon

#1315 feat: get active peer count
  api/manager/docs.go
  api/manager/swagger.json
  api/manager/swagger.yaml
  manager/cache/cache.go
  manager/handlers/peer.go
  manager/metrics/metrics.go
  manager/rpcserver/rpcserver.go
  manager/service/peer.go
  manager/service/service.go
  manager/types/peer.go
Labels: kind/feature, manager

#1317 test: dfget disabled back-to-souce
  test/e2e/dfget_test.go
Labels: kind/feature, dfdaemon

#1318 feat: scheduler register interface return task type
  pkg/rpc/scheduler/scheduler.pb.go
  pkg/rpc/scheduler/scheduler.pb.validate.go
  pkg/rpc/scheduler/scheduler.proto
  scheduler/resource/peer.go
  scheduler/service/service.go
Labels: kind/feature, scheduler

#1323 feat: client add tls verify config
  client/config/peerhost.go
  client/config/peerhost_darwin.go
  client/config/peerhost_linux.go
  client/config/peerhost_test.go
  client/config/testdata/config/daemon.yaml
  client/daemon/daemon.go
Labels: kind/feature, dfdaemon

#1324 feat: custom preheat tag parameters
  api/manager/docs.go
  api/manager/swagger.json
  api/manager/swagger.yaml
  manager/job/job.go
  manager/job/preheat.go
  manager/types/job.go
  test/e2e/manager/preheat.go
Labels: kind/feature, manager

#1332 chore: check large files in pull request
  .github/workflows/ci.yml
Labels: kind/feature

#1334 fix: http range header validation
  pkg/rpc/base/base.pb.go
  pkg/rpc/base/base.pb.validate.go
  pkg/rpc/base/base.proto
Labels: kind/bug

#1335 fix: reuse seed peer id is not exist
  client/daemon/peer/peertask_reuse.go
  client/daemon/peer/peertask_seed.go
  client/daemon/rpcserver/seeder.go
Labels: kind/bug

#1337 feat: docker build with multi platforms
  .github/workflows/docker.yml
Labels: kind/feature

#1338 feat: grpc health probe support arm64
  build/images/cdn/Dockerfile
  build/images/dfdaemon/Dockerfile
  build/images/manager/Dockerfile
  build/images/scheduler/Dockerfile
Labels: kind/feature

#1341 fix: create_at timestamp
  manager/model/models.go
  manager/rpcserver/rpcserver.go
Labels: kind/feature, manager

#1342 feat: add seed peer metrics
  client/daemon/metrics/metrics.go
  client/daemon/peer/peertask_manager.go
  client/daemon/peer/peertask_manager_mock_test.go
  client/daemon/peer/peertask_manager_test.go
  client/daemon/peer/peertask_seed.go
  client/daemon/rpcserver/seeder.go
  client/daemon/rpcserver/seeder_test.go
  client/daemon/test/mock/peer/peertask_manager.go
Labels: kind/feature, dfdaemon

#1343 fix: dfdaemon seed peer metrics namespace
  client/daemon/metrics/metrics.go
Labels: kind/feature, dfdaemon

#1345 feat: change pattern from cdn to seed peer
  build/package/docs/dfcache/dfcache.md
  build/package/docs/dfget.1
  build/package/docs/dfget.1.md
  client/config/constants.go
  client/config/dfget.go
  client/config/peerhost.go
  cmd/dfcache/cmd/root.go
  cmd/dfget/cmd/root.go
  cmd/manager/cmd/root.go
  cmd/scheduler/cmd/root.go
  hack/update-kustomize-native.sh
  internal/constants/constants.go
  pkg/rpc/dfdaemon/dfdaemon.pb.go
  pkg/rpc/dfdaemon/dfdaemon.pb.validate.go
  pkg/rpc/dfdaemon/dfdaemon.proto
  pkg/rpc/scheduler/scheduler.pb.go
  pkg/rpc/scheduler/scheduler.proto
Labels: kind/feature, dfdaemon

#1350 chore: add check size action
  .github/workflows/check-size.yml
Labels: kind/feature
