Repository dragonflyoss/dragonfly, pull requests merged in 2023-04, with the labels that each got.

#2216 feat: add trainer configuration
  trainer/config/config.go
  trainer/config/config_test.go
  trainer/config/constants.go
  trainer/config/testdata/ca.crt
  trainer/config/testdata/trainer.yaml
Labels: enhancement

#2244 feat: add CreatedAt function
  scheduler/networktopology/probes.go
  scheduler/networktopology/probes_test.go
Labels: scheduler

#2246 chore: add features swagger config
  api/manager/docs.go
  api/manager/swagger.json
  api/manager/swagger.yaml
Labels: enhancement

#2247 chore: change gorm-adaptor version to v3.5.0
  go.mod
  go.sum
Labels: enhancement

#2249 fix: ip and hostname params in FindSchedulerClusters
  manager/rpcserver/manager_server_v1.go
  manager/rpcserver/manager_server_v2.go
  scheduler/networktopology/mocks/probes_mock.go
Labels: manager, bug

#2255 docs: optimize Community description in README.md
  README.md
Labels: documentation

#2250 fix: modify the traversal condition for Items
  scheduler/networktopology/probes.go
  scheduler/networktopology/probes_test.go
Labels: scheduler

#2262 chore: update dingtalk group qrcode
  README.md
  docs/images/community/dingtalk-group.jpeg
Labels: enhancement

#2264 feat: local dynconfig notifies data in client
  client/config/dynconfig_local.go
Labels: enhancement, dfdaemon

#2267 chore: change dingtalk-group qrcode
  docs/images/community/dingtalk-group.jpeg
Labels: documentation

#2251 chore: add ChatGPT Code Review to workflows
  .github/workflows/cr.yml
Labels: enhancement

#2283 feat: rename trainer config package to config
  trainer/config/config.go
  trainer/config/config_test.go
  trainer/config/constants.go
Labels: enhancement

#2285 feat: remove security domain
  api/manager/docs.go
  api/manager/swagger.json
  api/manager/swagger.yaml
  build/package/nfpm/config/dfget.yaml
  client/config/dynconfig_manager.go
  client/config/peerhost.go
  client/config/peerhost_darwin.go
  client/config/peerhost_linux.go
  client/config/peerhost_test.go
  client/config/testdata/config/daemon.yaml
  client/daemon/announcer/announcer.go
  client/daemon/daemon.go
  client/daemon/peer/peertask_conductor.go
  deploy/docker-compose/template/dfget.template.yaml
  deploy/docker-compose/template/seed-peer.template.yaml
  go.mod
  go.sum
  manager/database/database.go
  manager/handlers/security_group.go
  manager/handlers/security_rule.go
  manager/models/scheduler_cluster.go
  manager/models/security_group.go
  manager/models/security_rule.go
  manager/router/router.go
  manager/rpcserver/manager_server_v1.go
  manager/rpcserver/manager_server_v2.go
  manager/searcher/searcher.go
  manager/searcher/searcher_test.go
  manager/service/mocks/service_mock.go
  manager/service/scheduler_cluster.go
  manager/service/security_group.go
  manager/service/security_rule.go
  manager/service/service.go
  manager/types/scheduler_cluster.go
  manager/types/security_group.go
  manager/types/security_rule.go
  scheduler/networktopology/probes_test.go
  scheduler/resource/host.go
  scheduler/resource/host_test.go
  scheduler/scheduling/evaluator/evaluator_base.go
  scheduler/scheduling/evaluator/evaluator_base_test.go
  scheduler/scheduling/scheduling.go
  scheduler/scheduling/scheduling_test.go
  scheduler/service/service_v1.go
  scheduler/service/service_v1_test.go
  scheduler/service/service_v2.go
  scheduler/service/service_v2_test.go
  scheduler/storage/storage_test.go
Labels: enhancement, scheduler, manager, dfdaemon

#2254 feat: add network topology and probes storage structs
  scheduler/networktopology/probes.go
  scheduler/networktopology/probes_test.go
  scheduler/storage/types.go
Labels: scheduler

#2287 fix: redis validation in scheduler config
  scheduler/config/config.go
  scheduler/config/config_test.go
Labels: bug

#2288 feat: add cluster api in manager
  api/manager/docs.go
  api/manager/swagger.json
  api/manager/swagger.yaml
  manager/database/database.go
  manager/handlers/cluster.go
  manager/models/seed_peer_cluster.go
  manager/router/router.go
  manager/service/cluster.go
  manager/service/mocks/service_mock.go
  manager/service/seed_peer_cluster.go
  manager/service/service.go
  manager/types/cluster.go
  manager/types/seed_peer_cluster.go
  pkg/structure/structure.go
  pkg/structure/structure_test.go
Labels: enhancement, manager

#2286 feat: add network topology storage interface
  scheduler/scheduler.go
  scheduler/storage/mocks/storage_mock.go
  scheduler/storage/storage.go
  scheduler/storage/storage_test.go
Labels: scheduler

#2291 feat: optimize model rest api in manager
  api/manager/docs.go
  api/manager/swagger.json
  api/manager/swagger.yaml
  manager/handlers/model.go
  manager/router/router.go
  manager/service/model.go
  manager/types/model.go
Labels: enhancement, manager

#2294 feat: move redis package to pkg dir
  manager/cache/cache.go
  manager/database/database.go
  pkg/redis/redis.go
  pkg/redis/redis_logger.go
Labels: enhancement, manager

#2296 feat: remove SyncNetworkTopology API
  client/daemon/peer/peertask_dummy.go
  go.mod
  go.sum
  pkg/rpc/scheduler/client/client_v1.go
  pkg/rpc/scheduler/client/client_v2.go
  pkg/rpc/scheduler/client/mocks/client_v1_mock.go
  pkg/rpc/scheduler/client/mocks/client_v2_mock.go
  scheduler/rpcserver/scheduler_server_v1.go
  scheduler/rpcserver/scheduler_server_v2.go
Labels: enhancement, scheduler

#2302 feat: add Access-Control-Allow-Credentials to rest api
  manager/router/router.go
Labels: enhancement, manager

#2293 feat: add metrics for trainer
  pkg/types/constants.go
  trainer/metrics/metrics.go
  trainer/metrics/metrics_test.go
Labels: enhancement, trainer

#2304 feat: add CORS middleware to manager
  manager/middlewares/cors.go
  manager/router/router.go
Labels: enhancement, manager
