Repository dragonflyoss/dragonfly, pull requests merged in 2023-11, with the labels that each got.

#2867 feat: if no matching manifest, then the log printing platform string
  manager/job/preheat.go
Labels: enhancement, manager

#2866 feat: avoid hot reload when dynconfig refresh data
  internal/dynconfig/dynconfig.go
Labels: enhancement

#2865 feat: implement ListSeedPeers feature in manager
  api/manager/docs.go
  go.mod
  go.sum
  manager/rpcserver/manager_server_v1.go
  manager/rpcserver/manager_server_v2.go
  pkg/redis/redis.go
  pkg/redis/redis_test.go
  scheduler/scheduling/scheduling.go
  scheduler/scheduling/scheduling_test.go
  scheduler/service/service_v2.go
  scheduler/service/service_v2_test.go
Labels: enhancement, manager

#2868 feat: add MaxScheduleCount and GetSeedPeers
  client/config/dynconfig.go
  client/config/dynconfig_local.go
  client/config/dynconfig_manager.go
  client/config/dynconfig_manager_test.go
  client/config/mocks/dynconfig_mock.go
  pkg/rpc/manager/client/client_v1.go
  pkg/rpc/manager/client/client_v2.go
  pkg/rpc/manager/client/mocks/client_v1_mock.go
  pkg/rpc/manager/client/mocks/client_v2_mock.go
  scheduler/config/config.go
  scheduler/config/config_test.go
  scheduler/config/constants.go
  scheduler/config/dynconfig.go
  scheduler/config/testdata/scheduler.yaml
  scheduler/resource/peer.go
  scheduler/scheduling/scheduling.go
  scheduler/scheduling/scheduling_test.go
Labels: enhancement, scheduler, client

#2869 feat: add getObjectStorageMetadata to dfstore
  client/daemon/objectstorage/objectstorage.go
  pkg/objectstorage/mocks/objectstorage_mock.go
  pkg/objectstorage/objectstorage.go
  pkg/objectstorage/obs.go
  pkg/objectstorage/oss.go
  pkg/objectstorage/s3.go
Labels: enhancement

#2872 feat: change ratelimit's DefaultQPS and DefaultBurst
  pkg/rpc/cdnsystem/server/server.go
  pkg/rpc/dfdaemon/server/server.go
  pkg/rpc/manager/server/server.go
  pkg/rpc/scheduler/server/server.go
  pkg/rpc/trainer/server/server.go
Labels: enhancement

#2874 chore: update node version to 20-alpine in Dockerfile
  build/images/manager/Dockerfile
Labels: enhancement, manager

#2881 feat: remove TinyTaskResponse and SmallTaskResponse message
  go.mod
  go.sum
  scheduler/scheduling/scheduling.go
  scheduler/scheduling/scheduling_test.go
  scheduler/service/service_v2.go
  scheduler/service/service_v2_test.go
Labels: enhancement

#2882 feat: add reschedule handler for schduler v2
  go.mod
  go.sum
  scheduler/scheduling/scheduling.go
  scheduler/scheduling/scheduling_test.go
  scheduler/service/service_v2.go
  scheduler/service/service_v2_test.go
Labels: enhancement, scheduler

#2884 feat: avoid hot resolve in grpc
  client/config/dynconfig_manager.go
  internal/dynconfig/dynconfig.go
  pkg/resolver/scheduler_resolver.go
  pkg/resolver/seed_peer_resolver.go
  pkg/rpc/health/client/client.go
  scheduler/config/config.go
  scheduler/config/config_test.go
  scheduler/config/constants.go
  scheduler/config/dynconfig.go
  scheduler/config/testdata/scheduler.yaml
  scheduler/service/service_v1.go
  scheduler/service/service_v1_test.go
Labels: enhancement

#2853 feat: implement batch calculation of candidate parents scores
  scheduler/scheduling/evaluator/evaluator.go
  scheduler/scheduling/evaluator/evaluator_base.go
  scheduler/scheduling/evaluator/evaluator_base_test.go
  scheduler/scheduling/evaluator/testdata/main.go
  scheduler/scheduling/evaluator/testdata/plugin/evaluator.go
  scheduler/scheduling/scheduling.go
  scheduler/scheduling/scheduling_test.go
Labels: scheduler

#2891 feat: update api version to v2.0.56
  go.mod
  go.sum
  pkg/rpc/dfdaemon/client/client_v2.go
  scheduler/scheduling/scheduling.go
  scheduler/scheduling/scheduling_test.go
  scheduler/service/service_v2.go
  scheduler/service/service_v2_test.go
Labels: enhancement

#2892 fix: digest and range validation in v2
  scheduler/service/service_v2.go
Labels: enhancement

#2906 feat: remove handleSyncPiecesFailedRequest when sync piece failed
  go.mod
  go.sum
  scheduler/service/service_v2.go
Labels: enhancement, scheduler

#2909 fix: log parse error
  scheduler/config/dynconfig.go
Labels: enhancement, scheduler
