Repository dragonflyoss/dragonfly, pull requests merged in 2023-02, with the labels that each got.

#2034 chore: ignore configs generate with docker compose
  .gitignore
  deploy/docker-compose/config/.gitignore
Labels: kind/feature

#2036 refactor: resource host without scheduler v1 definition
  scheduler/resource/host.go
  scheduler/resource/host_manager_test.go
  scheduler/resource/host_test.go
  scheduler/resource/peer_manager_test.go
  scheduler/resource/peer_test.go
  scheduler/resource/seed_peer_client.go
  scheduler/resource/seed_peer_client_test.go
  scheduler/resource/task_manager_test.go
  scheduler/resource/task_test.go
  scheduler/scheduler/evaluator/evaluator_base.go
  scheduler/scheduler/evaluator/evaluator_base_test.go
  scheduler/scheduler/scheduler_test.go
  scheduler/service/service_v1.go
  scheduler/service/service_v1_test.go
  scheduler/storage/storage_test.go
  scheduler/storage/types.go
Labels: kind/feature, scheduler

#2037 refactor: announcer and dynconfig with v2 verison of the manager grpc
  .github/workflows/compatibility-e2e.yml
  client/daemon/peer/piece_dispatcher_test.go
  scheduler/announcer/announcer.go
  scheduler/announcer/announcer_test.go
  scheduler/config/dynconfig.go
  scheduler/config/dynconfig_test.go
  scheduler/config/mocks/dynconfig_mock.go
  scheduler/resource/peer.go
  scheduler/resource/peer_test.go
  scheduler/resource/resource_test.go
  scheduler/resource/seed_peer_client.go
  scheduler/resource/seed_peer_client_test.go
  scheduler/scheduler.go
  scheduler/service/service_v1.go
  scheduler/service/service_v1_test.go
Labels: kind/feature, scheduler, manager

#2038 chore: change maintainers informations
  MAINTAINERS.md
Labels: kind/feature

#2039 refactor: peer resource with v2 version of the grpc
  scheduler/resource/peer.go
  scheduler/resource/peer_test.go
  scheduler/resource/task.go
  scheduler/resource/task_test.go
  scheduler/scheduler/scheduler.go
  scheduler/scheduler/scheduler_test.go
  scheduler/service/service_v1.go
  scheduler/service/service_v1_test.go
Labels: kind/feature, scheduler

#2040 feat: init AnnouncePeerStream of the peer
  scheduler/resource/peer.go
  scheduler/resource/peer_test.go
Labels: scheduler

#2041 chore: update issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: enhancement

#2048 feat: add DownloadTask to seed peer resource
  go.mod
  go.sum
  scheduler/resource/seed_peer.go
  scheduler/resource/seed_peer_mock.go
Labels: enhancement, scheduler

#2050 feat: add v2 version of dfdaemon client
  client/daemon/peer/peertask_piecetask_synchronizer.go
  client/daemon/rpcserver/rpcserver_test.go
  client/dfcache/dfcache.go
  client/dfget/dfget.go
  cmd/dfcache/cmd/delete.go
  cmd/dfcache/cmd/export.go
  cmd/dfcache/cmd/import.go
  cmd/dfcache/cmd/root.go
  cmd/dfcache/cmd/stat.go
  cmd/dfget/cmd/daemon.go
  cmd/dfget/cmd/root.go
  pkg/rpc/dfdaemon/client/client_v1.go
  pkg/rpc/dfdaemon/client/client_v2.go
  pkg/rpc/dfdaemon/client/constants.go
  pkg/rpc/dfdaemon/client/mocks/client_v1_mock.go
  pkg/rpc/dfdaemon/client/mocks/client_v2_mock.go
  pkg/rpc/scheduler/client/client_v2.go
  pkg/rpc/scheduler/client/mocks/client_v2_mock.go
Labels: enhancement, dfdaemon

#2051 feat: add AnnouncePeers to task in resource
  scheduler/resource/peer.go
  scheduler/resource/peer_test.go
  scheduler/resource/task.go
  scheduler/resource/task_test.go
  scheduler/scheduler/scheduler.go
  scheduler/scheduler/scheduler_test.go
  scheduler/service/service_v1.go
  scheduler/service/service_v1_test.go
Labels: enhancement, scheduler

#2053 feat: update task type from v1 to v2
  pkg/types/types.go
  scheduler/resource/host.go
  scheduler/resource/host_manager_test.go
  scheduler/resource/host_test.go
  scheduler/resource/peer_manager_test.go
  scheduler/resource/peer_test.go
  scheduler/resource/seed_peer_test.go
  scheduler/resource/task.go
  scheduler/resource/task_manager_test.go
  scheduler/resource/task_test.go
  scheduler/scheduler/evaluator/evaluator_base_test.go
  scheduler/scheduler/scheduler_test.go
  scheduler/service/service_v1.go
  scheduler/service/service_v1_test.go
Labels: enhancement

#2054 chore: add miHoYo to ADOPTERS.md
  ADOPTERS.md
Labels: enhancement

#2056 feat: add v2 version of the idgen
  client/daemon/daemon.go
  client/daemon/objectstorage/objectstorage.go
  client/daemon/peer/peerid_generator.go
  client/daemon/peer/peertask_conductor.go
  client/daemon/peer/peertask_file.go
  client/daemon/peer/peertask_manager.go
  client/daemon/peer/peertask_manager_test.go
  client/daemon/peer/peertask_reuse.go
  client/daemon/peer/peertask_seed.go
  client/daemon/peer/peertask_stream.go
  client/daemon/peer/piece_dispatcher_test.go
  client/daemon/peer/traffic_shaper_test.go
  client/daemon/rpcserver/rpcserver.go
  client/daemon/rpcserver/rpcserver_test.go
  client/daemon/rpcserver/seeder.go
  pkg/idgen/host_id.go
  pkg/idgen/host_id_test.go
  pkg/idgen/peer_id.go
  pkg/idgen/peer_id_test.go
  pkg/idgen/task_id.go
  pkg/idgen/task_id_test.go
  scheduler/job/job.go
  scheduler/resource/host_manager.go
  scheduler/resource/host_test.go
  scheduler/resource/peer.go
  scheduler/resource/peer_manager.go
  scheduler/resource/peer_manager_test.go
  scheduler/resource/peer_test.go
  scheduler/resource/resource.go
  scheduler/resource/seed_peer.go
  scheduler/resource/seed_peer_client.go
  scheduler/resource/task.go
  scheduler/resource/task_manager.go
  scheduler/resource/task_test.go
  scheduler/rpcserver/scheduler_server_v1.go
  scheduler/scheduler/evaluator/evaluator_base_test.go
  scheduler/scheduler/scheduler_test.go
  scheduler/service/service_v1_test.go
  test/e2e/manager/preheat.go
Labels: enhancement

#2059 feat: change PeerCountLimitForTask to 1000
  scheduler/resource/task.go
Labels: enhancement, scheduler

#2061 fix: peer GC clear all peers when peer's count large than PeerCountLimitForTask
  scheduler/resource/peer_manager.go
  scheduler/resource/peer_manager_test.go
Labels: scheduler, bug

#2062 chore: change e2e timeout
  .github/workflows/compatibility-e2e.yml
  .github/workflows/e2e.yml
Labels: enhancement

#2063 feat: set gorm log level
  manager/database/mysql.go
Labels: enhancement, manager

#2071 refactor: parse http range
  client/daemon/objectstorage/objectstorage.go
  client/daemon/peer/peertask_conductor.go
  client/daemon/peer/peertask_file.go
  client/daemon/peer/peertask_manager.go
  client/daemon/peer/peertask_manager_test.go
  client/daemon/peer/peertask_reuse.go
  client/daemon/peer/peertask_reuse_test.go
  client/daemon/peer/peertask_seed.go
  client/daemon/peer/peertask_stream.go
  client/daemon/peer/piece_downloader_test.go
  client/daemon/peer/piece_manager.go
  client/daemon/peer/piece_manager_mock.go
  client/daemon/peer/piece_manager_test.go
  client/daemon/peer/traffic_shaper_test.go
  client/daemon/rpcserver/rpcserver.go
  client/daemon/rpcserver/seeder.go
  client/daemon/storage/local_storage.go
  client/daemon/storage/local_storage_subtask.go
  client/daemon/storage/local_storage_test.go
  client/daemon/storage/metadata.go
  client/daemon/storage/mocks/stroage_manager_mock.go
  client/daemon/storage/storage_manager.go
  client/daemon/transport/transport.go
  client/daemon/upload/upload_manager.go
  client/util/range.go
  client/util/range_test.go
  manager/permission/rbac/rbac_test.go
  pkg/net/http/range.go
  pkg/net/http/range_test.go
  pkg/source/clients/hdfsprotocol/hdfs_source_client.go
  pkg/source/clients/httpprotocol/http_source_client_test.go
  scheduler/resource/peer_test.go
  test/e2e/dfget_test.go
Labels: enhancement

#2078 refactor: resource task with v2 version of grpc
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  deploy/docker-compose/template/scheduler.template.yaml
  go.mod
  go.sum
  internal/job/types.go
  pkg/idgen/task_id.go
  pkg/net/http/range.go
  pkg/net/http/range_test.go
  pkg/rpc/dfdaemon/client/client_v2.go
  pkg/rpc/dfdaemon/client/mocks/client_v2_mock.go
  pkg/types/types.go
  scheduler/config/config.go
  scheduler/config/config_test.go
  scheduler/config/testdata/scheduler.yaml
  scheduler/job/job.go
  scheduler/metrics/metrics.go
  scheduler/resource/host.go
  scheduler/resource/host_manager_test.go
  scheduler/resource/host_test.go
  scheduler/resource/peer.go
  scheduler/resource/peer_manager_test.go
  scheduler/resource/peer_test.go
  scheduler/resource/seed_peer.go
  scheduler/resource/seed_peer_mock.go
  scheduler/resource/seed_peer_test.go
  scheduler/resource/task.go
  scheduler/resource/task_manager_test.go
  scheduler/resource/task_test.go
  scheduler/rpcserver/scheduler_server_v1.go
  scheduler/scheduler/evaluator/evaluator_base_test.go
  scheduler/scheduler/scheduler_test.go
  scheduler/service/service_v1.go
  scheduler/service/service_v1_test.go
  test/testdata/charts/config-cache-list-metadata.yaml
  test/testdata/charts/config-concurent-back-source.yaml
  test/testdata/charts/config-disable-seed-peer.yaml
  test/testdata/charts/config-grpc-tls-ipv6.yaml
  test/testdata/charts/config-grpc-tls.yaml
  test/testdata/charts/config-ipv6.yaml
  test/testdata/charts/config-split-running-tasks.yaml
  test/testdata/charts/config.yaml
Labels: enhancement, scheduler

#2080 refactor: task piece with v2 grpc
  scheduler/resource/peer.go
  scheduler/resource/peer_test.go
  scheduler/resource/piece.go
  scheduler/resource/seed_peer.go
  scheduler/resource/task.go
  scheduler/resource/task_test.go
  scheduler/scheduler/evaluator/evaluator_base_test.go
  scheduler/service/service_v1.go
  scheduler/service/service_v1_test.go
Labels: enhancement, scheduler

#2081 feat: remove training configuration in scheduler
  scheduler/config/config.go
  scheduler/config/config_test.go
  scheduler/config/testdata/scheduler.yaml
Labels: enhancement, scheduler

#2070 feat: add default networkTopology configuration
  scheduler/config/config.go
  scheduler/config/config_test.go
  scheduler/config/constants.go
  scheduler/config/testdata/scheduler.yaml
Labels: enhancement, scheduler

#2082 refactor: task.SizeScope with v2 grpc in scheduler
  pkg/types/types.go
  scheduler/resource/task.go
  scheduler/resource/task_test.go
  scheduler/service/service_v1.go
Labels: enhancement, scheduler

#2084 refactor: type of digest in task
  scheduler/resource/host_manager_test.go
  scheduler/resource/host_test.go
  scheduler/resource/peer_manager_test.go
  scheduler/resource/peer_test.go
  scheduler/resource/seed_peer.go
  scheduler/resource/seed_peer_test.go
  scheduler/resource/task.go
  scheduler/resource/task_manager_test.go
  scheduler/resource/task_test.go
  scheduler/scheduler/evaluator/evaluator_base_test.go
  scheduler/scheduler/scheduler_test.go
  scheduler/service/service_v1.go
  scheduler/service/service_v1_test.go
Labels: enhancement, scheduler

#2085 refactor: package digest
  client/daemon/peer/piece_downloader.go
  client/daemon/peer/piece_manager.go
  client/daemon/peer/piece_manager_test.go
  pkg/digest/digest.go
  pkg/digest/digest_reader.go
  pkg/digest/digest_reader_test.go
  pkg/digest/digest_test.go
Labels: enhancement

#2086 feat: use v2 version of host id and add Addrs func to seed peer
  client/daemon/daemon.go
  pkg/idgen/host_id.go
  pkg/idgen/host_id_test.go
  scheduler/resource/host_test.go
  scheduler/resource/seed_peer_client.go
  scheduler/resource/seed_peer_client_test.go
  scheduler/scheduler/evaluator/evaluator_base_test.go
  scheduler/scheduler/scheduler_test.go
  scheduler/service/service_v1.go
  scheduler/service/service_v1_test.go
Labels: enhancement, scheduler

#2087 feat: rename scheduler package to scheduling
  .github/workflows/ci.yml
  scheduler/rpcserver/rpcserver.go
  scheduler/rpcserver/rpcserver_test.go
  scheduler/rpcserver/scheduler_server_v1.go
  scheduler/rpcserver/scheduler_server_v2.go
  scheduler/scheduler.go
  scheduler/scheduler/mocks/scheduler_mock.go
  scheduler/scheduling/evaluator/evaluator.go
  scheduler/scheduling/evaluator/evaluator_base.go
  scheduler/scheduling/evaluator/evaluator_base_test.go
  scheduler/scheduling/evaluator/evaluator_test.go
  scheduler/scheduling/evaluator/plugin.go
  scheduler/scheduling/evaluator/plugin_test.go
  scheduler/scheduling/evaluator/testdata/main.go
  scheduler/scheduling/evaluator/testdata/plugin/evaluator.go
  scheduler/scheduling/mocks/scheduling_mock.go
  scheduler/scheduling/scheduling.go
  scheduler/scheduling/scheduling_test.go
  scheduler/service/service_v1.go
  scheduler/service/service_v1_test.go
  scheduler/service/service_v2.go
  scheduler/service/service_v2_test.go
Labels: enhancement, scheduler

#2089 feat: add host gc to scheduler
  deploy/docker-compose/template/scheduler.template.yaml
  scheduler/config/config.go
  scheduler/config/config_test.go
  scheduler/config/constants.go
  scheduler/config/testdata/scheduler.yaml
  scheduler/resource/host_test.go
  scheduler/resource/peer_manager.go
  scheduler/resource/peer_manager_test.go
  scheduler/resource/seed_peer.go
  scheduler/scheduling/evaluator/evaluator_base_test.go
  scheduler/scheduling/scheduling_test.go
  scheduler/service/service_v1.go
  scheduler/service/service_v1_test.go
Labels: enhancement, scheduler

#2104 refactor: scheduling with v2 grpc
  api/manager/docs.go
  api/manager/swagger.json
  api/manager/swagger.yaml
  go.mod
  go.sum
  manager/database/database.go
  manager/types/scheduler_cluster.go
  pkg/types/types.go
  scheduler/config/constants.go
  scheduler/resource/peer.go
  scheduler/resource/peer_test.go
  scheduler/resource/seed_peer.go
  scheduler/resource/task.go
  scheduler/resource/task_test.go
  scheduler/scheduling/mocks/scheduling_mock.go
  scheduler/scheduling/scheduling.go
  scheduler/scheduling/scheduling_test.go
  scheduler/service/service_v1.go
  scheduler/service/service_v1_test.go
Labels: enhancement

#2107 refactor: support reload scheduler addresses for local Dynconfig in client
  client/config/dynconfig.go
  client/config/dynconfig_local.go
  client/config/dynconfig_local_test.go
  client/config/dynconfig_manager.go
  client/daemon/daemon.go
Labels: enhancement

#2109 feat: dynconfig resolves addresses with host
  client/config/dynconfig.go
  client/config/dynconfig_local.go
  client/config/dynconfig_local_test.go
  client/config/dynconfig_manager.go
  client/config/dynconfig_manager_test.go
  client/config/dynconfig_test.go
  client/config/mocks/dynconfig_mock.go
  client/daemon/daemon.go
  pkg/rpc/health/client/client.go
  scheduler/config/dynconfig.go
  scheduler/config/dynconfig_test.go
Labels: enhancement, scheduler, dfdaemon

#2110 feat: remove Scopes and SecurityGroup in seed peer cluster
  api/manager/docs.go
  api/manager/swagger.json
  api/manager/swagger.yaml
  go.mod
  go.sum
  manager/model/security_group.go
  manager/model/seed_peer_cluster.go
  manager/rpcserver/manager_server_v1.go
  manager/rpcserver/manager_server_v2.go
  manager/service/seed_peer_cluster.go
  manager/types/seed_peer_cluster.go
Labels: enhancement, manager

#2111 feat: add CIDR affinity to searcher
  api/manager/docs.go
  api/manager/swagger.json
  api/manager/swagger.yaml
  go.mod
  go.sum
  manager/searcher/mocks/searcher_mock.go
  manager/searcher/plugin_test.go
  manager/searcher/searcher.go
  manager/searcher/searcher_test.go
  manager/searcher/testdata/main.go
  manager/types/scheduler_cluster.go
Labels: enhancement, manager

#2113 refactor: preheat job
  manager/job/preheat.go
Labels: enhancement, scheduler

#2114 feat: add SyncNetworkTopology and SyncProbes to scheduler client
  client/daemon/daemon.go
  client/daemon/peer/peertask_dummy.go
  pkg/rpc/manager/client/client_v1.go
  pkg/rpc/manager/client/client_v2.go
  pkg/rpc/scheduler/client/client_v1.go
  pkg/rpc/scheduler/client/client_v2.go
  pkg/rpc/scheduler/client/mocks/client_v1_mock.go
  pkg/rpc/scheduler/client/mocks/client_v2_mock.go
  scheduler/scheduler.go
Labels: enhancement, scheduler

#2115 feat: correct grpc error code and implement StatPeer and LeavePeer
  manager/rpcserver/manager_server_v1.go
  manager/rpcserver/manager_server_v2.go
  scheduler/metrics/metrics.go
  scheduler/rpcserver/scheduler_server_v2.go
  scheduler/service/service_v1_test.go
  scheduler/service/service_v2.go
  scheduler/service/service_v2_test.go
Labels: enhancement, scheduler

#2125 feat: implement v2 version of scheduler service
  client/daemon/peer/peertask_manager_mock.go
  client/daemon/peer/piece_manager_mock.go
  pkg/types/types.go
  scheduler/metrics/metrics.go
  scheduler/resource/seed_peer_mock.go
  scheduler/rpcserver/scheduler_server_v1.go
  scheduler/rpcserver/scheduler_server_v2.go
  scheduler/service/service_v1.go
  scheduler/service/service_v1_test.go
  scheduler/service/service_v2.go
  scheduler/service/service_v2_test.go
Labels: enhancement, scheduler

#2126 test: refactor client validate ut
  client/config/peerhost_test.go
Labels: enhancement, dfdaemon

#2128 test: add Validate test to manager config
  manager/config/config.go
  manager/config/config_test.go
Labels: enhancement, manager

#2129 test: add Validate test to scheduler config
  client/config/peerhost_test.go
  codecov.yml
  manager/config/config.go
  manager/config/config_test.go
  scheduler/config/config.go
  scheduler/config/config_test.go
Labels: enhancement, scheduler
