Repository dragonflyoss/dragonfly, pull requests merged in 2023-09, with the labels that each got.

#2701 feat: change file mode when export task from local in dfcache
  client/daemon/rpcserver/rpcserver.go
Labels: enhancement, client

#2707 feat: add cluster rest api to open api
  manager/router/router.go
Labels: enhancement

#2708 feat: remove DefaultPersonalAccessTokenScopes in personalAccessToken
  manager/service/personal_access_token.go
  manager/types/persional_access_token.go
Labels: enhancement, manager

#2723 feat: add network timout to yarn install
  build/images/manager/Dockerfile
  hack/build.sh
Labels: enhancement

#2724 chore: change timeout-minutes to 120 in docker actions
  .github/workflows/docker.yml
Labels: github_actions

#2722 feat: add DeleteHost in LeaveHost
  pkg/net/ping/ping.go
  scheduler/networktopology/network_topology.go
  scheduler/networktopology/network_topology_test.go
  scheduler/service/service_v1.go
  scheduler/service/service_v1_test.go
  scheduler/service/service_v2.go
  scheduler/service/service_v2_test.go
Labels: scheduler

#2727 fix: if network topology is nil, LeaveHost panic in scheduler
  scheduler/service/service_v1.go
  scheduler/service/service_v2.go
Labels: enhancement, scheduler

#2729 docs: add security audit report
  .github/workflows/check-size.yml
  README.md
  docs/security/dragonfly-comprehensive-report-2023.pdf
Labels: documentation

#2745 feat: convert limit in dfstore
  client/dfstore/dfstore.go
Labels: enhancement

#2746 fix: snapshot network topology id
  scheduler/networktopology/network_topology.go
Labels: scheduler

#2749 feat: add CreatePeer to manager rest api
  api/manager/docs.go
  api/manager/swagger.json
  api/manager/swagger.yaml
  manager/handlers/peer.go
  manager/router/router.go
  manager/service/peer.go
  manager/service/service.go
  manager/types/model.go
  manager/types/peer.go
Labels: enhancement, manager

#2751 feat: update api to v2.0.29 with optional
  go.mod
  go.sum
  scheduler/scheduling/scheduling.go
  scheduler/scheduling/scheduling_test.go
  scheduler/service/service_v2.go
  scheduler/service/service_v2_test.go
Labels: enhancement, scheduler

#2753 chore: update golang version to v1.21
  .github/workflows/check-size.yml
  .github/workflows/lint.yml
  .github/workflows/nydus-e2e.yml
  build/images/base/Dockerfile
  build/images/dfdaemon/Dockerfile
  build/images/manager/Dockerfile
  build/images/scheduler/Dockerfile
  build/images/trainer/Dockerfile
  build/plugin-builder/Dockerfile
  build/plugin-builder/images/dfdaemon/Dockerfile
  build/plugin-builder/images/manager/Dockerfile
  build/plugin-builder/images/scheduler/Dockerfile
  go.mod
  go.sum
  hack/build.sh
  hack/docker-build.sh
  test/tools/no-content-length/Dockerfile
Labels: enhancement
