Repository dragonflyoss/dragonfly, pull requests merged in 2023-07, with the labels that each got.

#2507 feat: replace keys with scan in redis client
  scheduler/networktopology/network_topology.go
  scheduler/networktopology/network_topology_test.go
  scheduler/networktopology/probes_test.go
Labels: enhancement, scheduler

#2508 feat: set scan count for redis client
  scheduler/networktopology/network_topology.go
Labels: enhancement, scheduler

#2515 test: optimize TestDigest_HashFile
  pkg/digest/digest_test.go
Labels: enhancement

#2519 feat: implement FindProbedHosts and add LoadRandomHosts to host manager
  pkg/slices/slices.go
  pkg/slices/slices_test.go
  scheduler/networktopology/mocks/network_topology_mock.go
  scheduler/networktopology/network_topology.go
  scheduler/networktopology/network_topology_test.go
  scheduler/resource/host_manager.go
  scheduler/resource/host_manager_mock.go
  scheduler/resource/host_manager_test.go
  scheduler/service/service_v1.go
  scheduler/service/service_v1_test.go
  scheduler/service/service_v2.go
  scheduler/service/service_v2_test.go
Labels: enhancement, scheduler

#2522 chore: add fcgxz2003 to maintainer
  MAINTAINERS.md
Labels: enhancement, scheduler

#2528 refactor: create model grpc api in manager
  go.mod
  go.sum
  manager/rpcserver/manager_server_v1.go
  manager/rpcserver/manager_server_v2.go
  manager/types/model.go
  pkg/digest/digest.go
Labels: enhancement

#2530 feat: add update model rest api
  api/manager/docs.go
  api/manager/swagger.json
  api/manager/swagger.yaml
  manager/handlers/model.go
  manager/manager.go
  manager/models/model.go
  manager/router/router.go
  manager/rpcserver/manager_server_v1.go
  manager/service/mocks/service_mock.go
  manager/service/model.go
  manager/service/service.go
  manager/types/model.go
Labels: enhancement, manager

#2529 feat: remove ProbedAt function in network topology
  pkg/redis/redis.go
  pkg/redis/redis_test.go
  scheduler/networktopology/mocks/network_topology_mock.go
  scheduler/networktopology/network_topology.go
  scheduler/networktopology/network_topology_test.go
  scheduler/networktopology/probes.go
  scheduler/networktopology/probes_test.go
Labels: scheduler

#2537 fix: change model state in the same scheduler id
  manager/manager.go
  manager/models/model.go
  manager/rpcserver/manager_server_v1.go
  manager/rpcserver/manager_server_v2.go
  manager/rpcserver/rpcserver.go
  manager/service/model.go
Labels: enhancement, scheduler

#2531 feat: add pieces element in download record
  scheduler/service/service_v1.go
  scheduler/storage/storage_test.go
  scheduler/storage/types.go
  trainer/storage/testdata/download.csv
Labels: scheduler

#2539 refactor: store pieceRecords in download record
  scheduler/service/service_v1.go
Labels: enhancement, scheduler

#2540 feat: add GNNModelIDV1 and MLPModelIDV1 in idgen
  internal/dflog/logger.go
  manager/rpcserver/manager_server_v1.go
  manager/rpcserver/manager_server_v2.go
  manager/types/model.go
  manager/types/model_test.go
  pkg/idgen/model_id.go
  pkg/idgen/model_id_test.go
  scheduler/announcer/announcer.go
  scheduler/announcer/announcer_test.go
  scheduler/storage/storage.go
  scheduler/storage/storage_test.go
  trainer/rpcserver/trainer_server_v1.go
  trainer/service/service_v1.go
  trainer/storage/storage.go
  trainer/storage/storage_test.go
Labels: enhancement

#2543 feat: add training service
  go.mod
  go.sum
  internal/dflog/logger.go
  manager/rpcserver/manager_server_v1.go
  manager/rpcserver/manager_server_v2.go
  scheduler/announcer/announcer.go
  trainer/rpcserver/rpcserver.go
  trainer/rpcserver/rpcserver_test.go
  trainer/rpcserver/trainer_server_v1.go
  trainer/service/service_v1.go
  trainer/trainer.go
  trainer/training/mocks/training_mock.go
  trainer/training/training.go
Labels: enhancement, scheduler, trainer

#2547 feat: update api verison to v1.9.7 and compatible with tiny task response
  go.mod
  go.sum
  scheduler/service/service_v2.go
Labels: enhancement, scheduler

#2557 feat: add finished piece count element in types
  scheduler/service/service_v1.go
  scheduler/storage/storage_test.go
  scheduler/storage/types.go
  trainer/storage/testdata/download.csv
Labels: scheduler

#2560 feat: update api version to v2.0.7
  go.mod
  go.sum
  manager/rpcserver/manager_server_v1.go
  manager/rpcserver/manager_server_v2.go
  scheduler/announcer/announcer.go
  scheduler/announcer/announcer_test.go
  scheduler/config/dynconfig_test.go
  scheduler/resource/seed_peer_client.go
  scheduler/resource/seed_peer_client_test.go
Labels: enhancement

#2566 feat: update api version to 2.0.8
  go.mod
  go.sum
  scheduler/rpcserver/scheduler_server_v2.go
  scheduler/scheduling/scheduling.go
  scheduler/scheduling/scheduling_test.go
  scheduler/service/service_v1_test.go
  scheduler/service/service_v2.go
  scheduler/service/service_v2_test.go
Labels: enhancement

#2567 feat: add optional to build information
  go.mod
  go.sum
  scheduler/rpcserver/scheduler_server_v2.go
  scheduler/scheduling/scheduling.go
  scheduler/scheduling/scheduling_test.go
  scheduler/service/service_v1_test.go
  scheduler/service/service_v2.go
  scheduler/service/service_v2_test.go
Labels: enhancement

#2569 chore: change trainer expose port from 8002 to 9090 in Dockerfile
  build/images/trainer/Dockerfile
Labels: enhancement

#2572 fix: response of cluster rest api
  api/manager/docs.go
  api/manager/swagger.json
  api/manager/swagger.yaml
  manager/models/config.go
  manager/models/job.go
  manager/models/model.go
  manager/models/models.go
  manager/models/scheduler.go
  manager/models/scheduler_cluster.go
  manager/models/seed_peer.go
  manager/models/seed_peer_cluster.go
  manager/models/user.go
  manager/service/cluster.go
  manager/types/cluster.go
Labels: enhancement, manager

#2573 fix: remove archives.rlcp in .goreleaser.yaml refer to https://gorele…
  .goreleaser.yml
Labels: enhancement, scheduler

#2576 feat: change per_page to 1000
  manager/types/application.go
  manager/types/cluster.go
  manager/types/config.go
  manager/types/job.go
  manager/types/oauth.go
  manager/types/scheduler.go
  manager/types/scheduler_cluster.go
  manager/types/seed_peer.go
  manager/types/seed_peer_cluster.go
  manager/types/user.go
Labels: enhancement, manager

#2577 feat: update api version
  go.mod
  go.sum
Labels: enhancement

#2579 refactor: support for JuiceFS objectStorage implementation
  client/daemon/objectstorage/objectstorage.go
  client/daemon/objectstorage/types.go
  client/dfstore/dfstore.go
  client/dfstore/mocks/dfstore_mock.go
  pkg/objectstorage/constants.go
  pkg/objectstorage/mocks/objectstorage_mock.go
  pkg/objectstorage/objectstorage.go
  pkg/objectstorage/obs.go
  pkg/objectstorage/oss.go
  pkg/objectstorage/s3.go
Labels: enhancement, client

#2580 feat: support tls in manager rest server
  manager/config/config.go
  manager/config/config_test.go
  manager/config/testdata/manager.yaml
  manager/manager.go
Labels: enhancement, manager
