Repository dragonflyoss/dragonfly, pull requests merged in 2023-03, with the labels that each got.

#2133 feat: change ScheduleCandidateParentsForNormalPeer implement
  go.mod
  go.sum
  pkg/idgen/task_id.go
  pkg/idgen/task_id_test.go
  scheduler/metrics/metrics.go
  scheduler/resource/task_manager.go
  scheduler/resource/task_manager_test.go
  scheduler/resource/task_test.go
  scheduler/rpcserver/scheduler_server_v2.go
  scheduler/scheduling/evaluator/evaluator_base_test.go
  scheduler/scheduling/mocks/scheduling_mock.go
  scheduler/scheduling/scheduling.go
  scheduler/scheduling/scheduling_test.go
  scheduler/service/service_v1.go
  scheduler/service/service_v1_test.go
  scheduler/service/service_v2.go
Labels: enhancement, scheduler

#2136 chore: add Garen Wen to maintainers
  MAINTAINERS.md
Labels: enhancement

#2137 docs: add public cloud providers Adopters.md
  ADOPTERS.md
Labels: enhancement

#2138 docs: add OpenSSF badge to README.md
  README.md
Labels: documentation

#2147 feat: add handleRegisterSeedPeerRequest to AnnouncePeer in service v2
  build/images/dfdaemon/Dockerfile
  client/daemon/rpcserver/mocks/rpcserver_mock.go
  go.mod
  go.sum
  scheduler/resource/peer.go
  scheduler/resource/peer_test.go
  scheduler/resource/seed_peer.go
  scheduler/resource/seed_peer_mock.go
  scheduler/scheduling/mocks/scheduling_mock.go
  scheduler/scheduling/scheduling.go
  scheduler/scheduling/scheduling_test.go
  scheduler/service/service_v1.go
  scheduler/service/service_v2.go
  scheduler/service/service_v2_test.go
Labels: enhancement, scheduler

#2148 feat: add handleRegisterSeedPeerRequest to service v2 in scheduler
  scheduler/service/service_v2.go
  scheduler/service/service_v2_test.go
Labels: enhancement, invalid, scheduler

#2150 feat: implement announce peer
  go.mod
  go.sum
  scheduler/resource/peer.go
  scheduler/resource/peer_test.go
  scheduler/scheduling/scheduling.go
  scheduler/scheduling/scheduling_test.go
  scheduler/service/service_v1_test.go
  scheduler/service/service_v2.go
  scheduler/service/service_v2_test.go
Labels: enhancement, scheduler

#2152 feat: add SearchSchedulerClusterCount metric to manager
  manager/metrics/metrics.go
  manager/rpcserver/manager_server_v1.go
  manager/rpcserver/manager_server_v2.go
Labels: enhancement, manager

#2153 feat: add metrics to service v2
  go.mod
  go.sum
  manager/rpcserver/manager_server_v1.go
  manager/rpcserver/manager_server_v2.go
  scheduler/metrics/metrics.go
  scheduler/resource/seed_peer.go
  scheduler/rpcserver/scheduler_server_v1.go
  scheduler/rpcserver/scheduler_server_v2.go
  scheduler/service/service_v1.go
  scheduler/service/service_v1_test.go
  scheduler/service/service_v2.go
  scheduler/service/service_v2_test.go
Labels: enhancement, scheduler

#2169 docs: add Volcano Engine to ADOPTERS.md
  ADOPTERS.md
Labels: documentation

#2172 feat: add error log to database in manager
  manager/database/database.go
Labels: enhancement, manager

#2174 chore: change codecov rules
  codecov.yml
Labels: enhancement

#2175 fix: manager metrics Subsystem
  manager/metrics/metrics.go
Labels: enhancement, manager

#2180 fix: stat DownloadPeerCount and DownloadPieceCount
  scheduler/metrics/metrics.go
  scheduler/service/service_v2.go
Labels: enhancement

#2182 chore: add build-man-page to makefile
  Makefile
Labels: enhancement

#2184 chore: change the compatibility testing version of manager and scheduler to v2.0.9
  .github/workflows/compatibility-e2e.yml
Labels: enhancement

#2191 feat: rename manager/model to manager/models
  codecov.yml
  manager/database/database.go
  manager/handlers/application.go
  manager/handlers/bucket.go
  manager/handlers/config.go
  manager/handlers/job.go
  manager/handlers/model.go
  manager/handlers/oauth.go
  manager/handlers/peer.go
  manager/handlers/preheat.go
  manager/handlers/role.go
  manager/handlers/scheduler.go
  manager/handlers/scheduler_cluster.go
  manager/handlers/security_group.go
  manager/handlers/security_rule.go
  manager/handlers/seed_peer.go
  manager/handlers/seed_peer_cluster.go
  manager/handlers/user.go
  manager/job/mocks/preheat_mock.go
  manager/job/preheat.go
  manager/middlewares/jwt.go
  manager/models/application.go
  manager/models/casbin_rule.go
  manager/models/config.go
  manager/models/job.go
  manager/models/models.go
  manager/models/oauth.go
  manager/models/scheduler.go
  manager/models/scheduler_cluster.go
  manager/models/security_group.go
  manager/models/security_rule.go
  manager/models/seed_peer.go
  manager/models/seed_peer_cluster.go
  manager/models/user.go
  manager/permission/rbac/rbac.go
  manager/rpcserver/manager_server_v1.go
  manager/rpcserver/manager_server_v2.go
  manager/rpcserver/rpcserver.go
  manager/searcher/mocks/searcher_mock.go
  manager/searcher/searcher.go
  manager/searcher/searcher_test.go
  manager/searcher/testdata/main.go
  manager/searcher/testdata/plugin/searcher.go
  manager/service/application.go
  manager/service/config.go
  manager/service/job.go
  manager/service/mocks/service_mock.go
  manager/service/model.go
  manager/service/oauth.go
  manager/service/preheat.go
  manager/service/scheduler.go
  manager/service/scheduler_cluster.go
  manager/service/security_group.go
  manager/service/security_rule.go
  manager/service/seed_peer.go
  manager/service/seed_peer_cluster.go
  manager/service/service.go
  manager/service/user.go
  test/e2e/manager/preheat.go
Labels: enhancement, manager

#2192 feat: add inference model table in database
  manager/database/database.go
  manager/models/model.go
  manager/models/scheduler.go
  manager/models/seed_peer.go
Labels: enhancement, manager

#2194 feat: remove model api
  api/manager/docs.go
  api/manager/swagger.json
  api/manager/swagger.yaml
  go.mod
  go.sum
  manager/cache/cache.go
  manager/handlers/application.go
  manager/handlers/config.go
  manager/handlers/job.go
  manager/handlers/model.go
  manager/handlers/oauth.go
  manager/handlers/scheduler.go
  manager/handlers/scheduler_cluster.go
  manager/handlers/security_group.go
  manager/handlers/security_rule.go
  manager/handlers/seed_peer.go
  manager/handlers/seed_peer_cluster.go
  manager/handlers/user.go
  manager/models/model.go
  manager/router/router.go
  manager/rpcserver/manager_server_v1.go
  manager/rpcserver/manager_server_v2.go
  manager/service/mocks/service_mock.go
  manager/service/model.go
  manager/service/service.go
  manager/types/model.go
  pkg/rpc/manager/client/client_v1.go
  pkg/rpc/manager/client/client_v2.go
  pkg/rpc/manager/client/mocks/client_v1_mock.go
  pkg/rpc/manager/client/mocks/client_v2_mock.go
Labels: enhancement, manager

#2196 feat: add index uk_model to model table
  manager/models/model.go
Labels: enhancement, manager

#2204 feat: remove model migration
  manager/database/database.go
Labels: enhancement, manager

#2205 feat: rename HostName to Hostname
  client/config/dynconfig_manager.go
  client/config/dynconfig_manager_test.go
  client/daemon/announcer/announcer.go
  client/daemon/daemon.go
  go.mod
  go.sum
  manager/database/database.go
  manager/job/preheat.go
  manager/models/scheduler.go
  manager/models/seed_peer.go
  manager/rpcserver/manager_server_v1.go
  manager/rpcserver/manager_server_v2.go
  manager/searcher/searcher_test.go
  manager/service/scheduler.go
  manager/service/seed_peer.go
  manager/types/scheduler.go
  manager/types/seed_peer.go
  pkg/rpc/manager/client/client_v1.go
  pkg/rpc/manager/client/client_v2.go
  pkg/source/clients/hdfsprotocol/hdfs_source_client.go
  scheduler/announcer/announcer.go
  scheduler/config/dynconfig.go
  scheduler/config/dynconfig_test.go
  scheduler/resource/seed_peer_client.go
  scheduler/resource/seed_peer_client_test.go
  scheduler/service/service_v1.go
  scheduler/service/service_v1_test.go
Labels: enhancement

#2206 feat: rename SecurityService to Security
  go.mod
  go.sum
  manager/rpcserver/security_server_v1.go
  pkg/rpc/manager/client/client_v1.go
  pkg/rpc/manager/client/client_v2.go
  pkg/rpc/manager/server/server.go
  pkg/rpc/security/client/v1.go
Labels: enhancement

#2207 feat: add CreateModel func to manager grpc client
  go.mod
  go.sum
  manager/rpcserver/manager_server_v1.go
  manager/rpcserver/manager_server_v2.go
  pkg/rpc/manager/client/client_v1.go
  pkg/rpc/manager/client/client_v2.go
  pkg/rpc/manager/client/constants.go
  pkg/rpc/manager/client/mocks/client_v1_mock.go
  pkg/rpc/manager/client/mocks/client_v2_mock.go
Labels: enhancement, manager

#2208 feat: rename security client file name
  pkg/rpc/security/client/client_v1.go
  pkg/rpc/security/client/mocks/client_v1_mock.go
Labels: enhancement

#2209 feat: add trainer service to rpc package
  pkg/rpc/scheduler/client/client_v2.go
  pkg/rpc/trainer/client/client_v1.go
  pkg/rpc/trainer/client/mocks/client_v1_mock.go
  pkg/rpc/trainer/server/server.go
Labels: enhancement

#2211 chore: add Mohammed Farooq to MAINTAINERS
  MAINTAINERS.md
Labels: enhancement

#2212 test: add new metrics test to service
  client/daemon/metrics/metrics_test.go
  manager/metrics/metrics_test.go
  scheduler/metrics/metrics_test.go
Labels: enhancement

#2190 feat: add probes struct
  scheduler/config/config.go
  scheduler/config/config_test.go
  scheduler/networktopology/mocks/probes_mock.go
  scheduler/networktopology/probes.go
  scheduler/networktopology/probes_test.go
Labels: scheduler

#2225 fix: fsm events failed when register task
  scheduler/service/service_v1.go
Labels: scheduler, bug

#2231 feat: add log to searcher plugin
  manager/rpcserver/manager_server_v1.go
  manager/rpcserver/manager_server_v2.go
  manager/searcher/mocks/searcher_mock.go
  manager/searcher/searcher.go
  manager/searcher/searcher_test.go
  manager/searcher/testdata/main.go
  manager/searcher/testdata/plugin/searcher.go
Labels: enhancement, manager

#2235 feat: when the cache is missing, change the error log to a warning log
  manager/rpcserver/manager_server_v1.go
  manager/rpcserver/manager_server_v2.go
Labels: enhancement, manager

#2236 feat: update d7y.io/api package and change cpu percent validation
  go.mod
  go.sum
  manager/rpcserver/manager_server_v1.go
  manager/rpcserver/manager_server_v2.go
Labels: enhancement
